<div class="main-bg" id="content">


    <!-- End of Topbar -->
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4 dashboard-card">
            <h1 class="h3 mb-0 text-gray-800">WareHouses List</h1>
           
            <div class="flex">

                <a href="#" class="btn-center btn btn-sm btn-primary shadow-sm mr-2 btn-1">
                    <p class="flex p-0">Add WareHouse </p> <i class="bi bi-plus-circle flex"></i>
                </a>
                <a href="#" class="btn-center btn btn-sm btn-secondary shadow-sm btn-1">
                    <p class="flex p-0">more </p>  <i class="bi bi-three-dots"></i>
                </a>
            </div>

        </div>

        <div class="d-sm-flex align-items-center justify-content-between mb-4 dashboard-card">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card">
                        <img src="./ware.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title tac">Card title</h5>
                            <p class="card-text tac">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="row">
                                <div class="row-center">
                                    <a href="#" class="btn btn-secondary mr-1 flex-align-c ">Details <i class="bi bi-three-dots ml-1"></i></a>
                                    <a href="#" class="btn btn-danger flex-align-c">Delete   <i class="bi bi-trash3 flex ml-1"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="./ware.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title tac">Card title</h5>
                            <p class="card-text tac">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="row">
                                <div class="row-center">
                                    <a href="#" class="btn btn-secondary mr-1 flex-align-c ">Details <i class="bi bi-three-dots ml-1"></i></a>
                                    <a href="#" class="btn btn-danger flex-align-c">Delete   <i class="bi bi-trash3 flex ml-1"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="./ware.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title tac">Card title</h5>
                            <p class="card-text tac">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="row">
                                <div class="row-center">
                                    <a href="#" class="btn btn-secondary mr-1 flex-align-c ">Details <i class="bi bi-three-dots ml-1"></i></a>
                                    <a href="#" class="btn btn-danger flex-align-c">Delete   <i class="bi bi-trash3 flex ml-1"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="./ware.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title tac">Card title</h5>
                            <p class="card-text tac">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="row">
                                <div class="row-center">
                                    <a href="#" class="btn btn-secondary mr-1 flex-align-c ">Details <i class="bi bi-three-dots ml-1"></i></a>
                                    <a href="#" class="btn btn-danger flex-align-c">Delete   <i class="bi bi-trash3 flex ml-1"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="./ware.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title tac">Card title</h5>
                            <p class="card-text tac">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="row">
                                <div class="row-center">
                                    <a href="#" class="btn btn-secondary mr-1 flex-align-c ">Details <i class="bi bi-three-dots ml-1"></i></a>
                                    <a href="#" class="btn btn-danger flex-align-c">Delete   <i class="bi bi-trash3 flex ml-1"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
               
            </div>

        </div>


    </div>
</div>
