<div class="main-bg" id="content">


    <!-- End of Topbar -->
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4 dashboard-card">
            <h1 class="h3 mb-0 text-gray-800">Users List</h1>
            <div class="flex">

                <a href="#" class="btn-center btn btn-sm btn-primary shadow-sm mr-2 btn-1">
                    <p class="flex p-0">Add User </p> <i class="bi bi-plus-circle flex"></i>
                </a>
                <a href="#" class="btn-center btn btn-sm btn-secondary shadow-sm btn-1">
                    <p class="flex p-0">more </p>  <i class="bi bi-three-dots"></i>
                </a>
            </div>

        </div>


    </div>
    <div class="container">
        <div class="row row--top-20 bg-wh row-table">
            <div class="col-md-12">
                <div class="table-container">
                    <table class="table" style="border-radius:30px">
                        <thead class="table__thead">
                            <tr>

                                <th class="table__th">Name</th>
                                <th class="table__th">Phone number</th>
                                <th class="table__th">Policy status</th>
                                <th class="table__th">Area</th>
                                <th class="table__th">Manage</th>
                            </tr>
                        </thead>
                        <tbody class="table__tbody">
                            <tr class="table-row table-row--chris">

                                <td class="table-row__td">
                                    <div class="table-row__img"></div>
                                    <div class="table-row__info">
                                        <p class="table-row__name">Mahmoud Raed</p>
                                        <span class="table-row__small">Branch Mangaer</span>
                                    </div>
                                </td>
                                <td data-column="Policy" class="table-row__td">
                                    <div class="">
                                        <p class="table-row__policy">$5,000</p>
                                        <span class="table-row__small">Basic Policy</span>
                                    </div>
                                </td>
                                <td data-column="Policy status" class="table-row__td">
                                    <p class="table-row__p-status status--green status">Approved</p>
                                </td>
                                <td data-column="Destination" class="table-row__td">
                                    komia-zag
                                </td>
                               

                                <td class="table-row__td">

                                    <a asp-action="EmpDetails" asp-controller="Employee" class="btn btn-primary btn-sm btn-1">details</a>
                                    <a asp-action="EmpDetails" asp-controller="Employee" class="btn btn-danger btn-sm btn-1">Delete</a>
                                </td>
                            </tr>

                            <tr class="table-row table-row--angie">

                                <td class="table-row__td">
                                    <div class="table-row__img"></div>
                                    <div class="table-row__info">
                                        <p class="table-row__name">said mohey</p>
                                        <span class="table-row__small">branch Manager</span>
                                    </div>
                                </td>
                                <td data-column="Policy" class="table-row__td">
                                    <div class="">
                                        <p class="table-row__policy">$20,000</p>
                                        <span class="table-row__small">All Inclusive Policy</span>
                                    </div>
                                </td>
                                <td data-column="Policy Status" class="table-row__td">
                                    <p class="table-row__p-status status status--yellow">Awating Approval</p>
                                </td>
                                <td data-column="Destination" class="table-row__td">
                                    komia-zag
                                </td>
                              
                                <td class="table-row__td">

                                    <a asp-action="EmpDetails" asp-controller="Employee" class="btn btn-primary btn-sm btn-1">details</a>
                                    <a asp-action="EmpDetails" asp-controller="Employee" class="btn btn-danger btn-sm btn-1">Delete</a>
                                </td>
                            </tr>

                            <tr class="table-row table-row--ronald">

                                <td class="table-row__td">
                                    <div class="table-row__img"></div>
                                    <div class="table-row__info">
                                        <p class="table-row__name">hamed zaky</p>
                                        <span class="table-row__small">Area manager</span>
                                    </div>
                                </td>
                                <td class="table-row__td">
                                    <div data-column="Policy" class="">
                                        <p class="table-row__policy">$5,000</p>
                                        <span class="table-row__small">Basic Policy</span>
                                    </div>
                                </td>
                                <td data-column="Policy status" class="table-row__td">
                                    <p class="table-row__p-status status--green status">Approved</p>
                                </td>
                                <td data-column="destination" class="table-row__td">
                                    zagazig
                                </td>
                               
                                <td class="table-row__td">

                                    <a asp-action="EmpDetails" asp-controller="Employee" class="btn btn-primary btn-sm btn-1">details</a>
                                    <a asp-action="EmpDetails" asp-controller="Employee" class="btn btn-danger btn-sm btn-1">Delete</a>
                                </td>
                            </tr>




                        </tbody>
                    </table>
                </div>
            </div>
        </div>
       
    </div>



    <!-- Content Row -->



</div>
