<div class="main-bg" id="content">


    <!-- End of Topbar -->
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <!-- Page Heading -->
        <div class="dashboard-card row-center">
            <div class="row-center">
                <h1 class="h3 mb-0 text-gray-800">Profile Details</h1>
            </div>
            
        </div>

        <div class="dashboard-card  mt-3">
            <div class="row-center">
                <img src="~/emp1.jpg" class="profile-icon">
            </div>
           
        </div>


    </div>
    <div class="container">

        
    </div>



    <!-- Content Row -->



</div>
